information_extraction/data/competences/tei_index/compdict.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Competences Dictionary</title>
                <author>generated by Roma 5.0.0</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Thursday 07th February 2019 09:37:29 AM</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>My TEI Customization&#xD; starts with modules tei, core, textstructure and header</p>
            <schemaSpec ident="compdict" docLang="en" prefix="tei_" xml:lang="en">
                <moduleRef key="core" except=""/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header" except=""/>
                <moduleRef key="textstructure" except=""/>
                <moduleRef key="dictionaries"
                    except="case colloc def dictScrap entryFree etym gen gram hom hyph iType lang lbl mood number oRef pRef per pron re sense stress subc syll tns usg xr"/>
                <elementSpec ident="div" module="core" mode="change">
                    <attList>
                        <attDef ident="label" mode="add">
                            <desc>Contains the Label of the division (1st or 2nd level)</desc>
                            <datatype>
                                <dataRef key="teidata.string"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="superEntry" module="dictionaries" mode="change">
                    <attList>
                        <attDef ident="label" mode="add">
                            <desc>Contains the Label of the Hyper-Synset (3rd level)</desc>
                            <datatype>
                                <dataRef key="teidata.string"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="entry" module="dictionaries" mode="change">
                    <attList>
                        <attDef ident="label" mode="add">
                            <desc>Contains the Label of the Synset</desc>
                            <datatype>
                                <dataRef key="teidata.string"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="form" module="dictionaries" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <desc><val>standard</val> means that this form represents the
                                synset</desc>
                            <valList type="closed" mode="replace">
                                <valItem ident="standard"/>
                            </valList>
                        </attDef>
                        <attDef ident="label" mode="add">
                            <desc>Contains the Label of the Synonym</desc>
                            <datatype>
                                <dataRef key="teidata.string"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="orth" module="dictionaries" mode="change">
                    <attList>
                        <attDef ident="source" mode="add">
                            <desc><val>ams</val> means that this orthography is taken from the AMS
                                Catalogue</desc>
                            <valList type="closed" mode="replace">
                                <valItem ident="ams"/>
                            </valList>
                        </attDef>
                        <attDef ident="valid" mode="add">
                            <desc>marks if a competence is validated (by an expert). The attribute
                                value is <val>false</val> if the competence is added automatically
                                to the tei-file</desc>
                            <valList type="closed">
                                <valItem ident="true"/>
                                <valItem ident="false"/>
                            </valList>
                        </attDef>
                        <attDef ident="label" mode="add">
                            <desc>Contains the Label of the Orthography</desc>
                            <datatype>
                                <dataRef key="teidata.string"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
